<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.he.farm.mapper.OrderMasterMapper">
    <resultMap id="BaseResultMap" type="com.he.farm.domain.OrderMaster">
        <id column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="buyer_name" jdbcType="VARCHAR" property="buyerName"/>
        <result column="buyer_phone" jdbcType="VARCHAR" property="buyerPhone"/>
        <result column="buyer_address" jdbcType="VARCHAR" property="buyerAddress"/>
        <result column="order_amount" jdbcType="DECIMAL" property="orderAmount"/>
        <result column="order_status" jdbcType="TINYINT" property="orderStatus"/>
        <result column="pay_status" jdbcType="TINYINT" property="payStatus"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="getTodayIncome" resultType="int">
    select sum(order_amount) from order_master
    where create_time between #{startTime} and #{endTime}
    </select>
</mapper>