<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.he.farm.mapper.ProductInfoMapper">
  <resultMap id="BaseResultMap" type="com.he.farm.domain.ProductInfo">
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
    <result column="product_stock" jdbcType="INTEGER" property="productStock" />
    <result column="product_description" jdbcType="VARCHAR" property="productDescription" />
    <result column="product_icon" jdbcType="VARCHAR" property="productIcon" />
    <result column="product_status" jdbcType="TINYINT" property="productStatus" />
    <result column="category_type" jdbcType="INTEGER" property="categoryType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="ProductMap" type="com.he.farm.domain.vo.ProductInfoVO">
  <id column="product_id" jdbcType="INTEGER" property="productId" />
  <result column="product_name" jdbcType="VARCHAR" property="productName" />
  <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
  <result column="product_stock" jdbcType="INTEGER" property="productStock" />
  <result column="product_description" jdbcType="VARCHAR" property="productDescription" />
  <result column="product_icon" jdbcType="VARCHAR" property="productIcon" />
  <result column="product_status" jdbcType="TINYINT" property="productStatus" />
  <result column="category_name" jdbcType="VARCHAR" property="categoryType" />
  <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
</resultMap>

  <select id="getProductInfoVOList" resultMap="ProductMap">
    select p.product_id , p.product_name , p.product_price, p.product_description, p.product_icon , p.product_status , c.category_name
    from product_info p left join product_category c on p.category_type=c.category_type
  </select>
</mapper>