<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.he.farm.mapper.TbSysUserMapper">
  <resultMap id="BaseResultMap" type="com.he.farm.domain.TbSysUser">
    <id column="userid" jdbcType="INTEGER" property="userid" />
    <result column="loginName" jdbcType="VARCHAR" property="loginname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
  </resultMap>

</mapper>